<h1>New content</h1>

<% form_for @content, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>

  <p>
    <%= f.label :item %><br />
    <%= f.file_field :item %>
  </p>

  <p>
    <%= f.hidden_field :location_id %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
