<p>
  <b>Name:</b>
  <%=h @content.name %>
</p>

<p>
  <b>Tags:</b>
  <%=h @content.tags %>
</p>

<p>
  <b>Item:</b>
  <%=h @content.item_file_name %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
